.header {
  border-bottom: 1px solid black;
  padding: 1em;
  display: flex;
  align-items: center;
}

.header *:first-child {
  margin-left: auto;
}

.header * + * {
  margin-left: 2em;
}

.logout {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: var(--clr-200);
  color: white;
}
