.button,
.outline,
.del {
  border: none;
  background: var(--clr-100);
  padding: 0.5em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
}

.outline {
  background-color: transparent;
  color: black;
  border-color: var(--clr-100);
}

.del {
  background-color: var(--accent-100);
}
