.container {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.modal_inner {
  background-color: var(--modal-inner-background-color);
  padding: 1em;
  margin-top: 5em;
  max-width: 400px;
  width: 70vw;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
}

.modal_inner > button {
  position: absolute;
  top: 5%;
  right: 5%;
}

.modal_inner h3 {
  text-align: center;
}
