.form {
  background-color: var(--crl-primary-100);
  padding: 2.5em 1.5em 1.5em;
  border-radius: 5px;
}

.form h2 + p {
  margin-top: 0.2em;
}

.form > * + * {
  margin-top: 1em;
}

.form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form fieldset * + * {
  margin-top: 1em;
}

.form fieldset input {
  padding: 0.25em 0.5em;
  margin-top: 0;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
}
