.card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
  padding: 1em;
  border-radius: var(--border-radius);
  gap: 10px;
}

.card_image {
}

.card_text {
  justify-self: end;
  text-align: right;
  display: grid;
  height: 100%;
}

.title {
  align-self: flex-end;
}

.author {
  margin-top: 0.5em;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
  align-self: flex-start;
}

.list_button {
  justify-self: end;
  align-self: end;
}
