.header {
  background-color: var(--header-background-color);
  padding: 1em 0;
}

.open_nav_button {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.open_nav_button span {
  width: 2em;
  height: 0.25em;
  background-color: black;
  border-radius: var(--border-radius);
}
