.form {
  max-width: 35rem;
  margin: 2em auto;
  text-align: left;
}

@media (min-width: 75rem) {
  .form {
    margin-left: 2em;
    margin-right: 0;
  }
}

.form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  border: none;
  row-gap: 0.25rem;
  margin: 0;
  padding: 0;
}

.form label {
  grid-column: 1 / -1;
  grid-row-start: 1;
}

.form input {
  background-color: var(--clr-400);
  border: none;
}

.form button[type="submit"] {
  border: none;
  background-color: var(--clr-100);
  color: white;
  font-weight: 600;
  justify-self: start;
}

.form input,
.form button[type="submit"] {
  border-radius: 5px;
  border-radius: 1px solid black;
  padding: 0.25em 1em;
}

/* .form button[type="submit"] {
} */
