.detail {
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 2em;
}

.detail > * + * {
  margin-top: 0.5em;
}

.header {
  display: flex;
}

.meta {
  margin-left: 1em;
}

.description {
  margin-top: 1em;
  max-width: 80ch;
}

.description > * + * {
  margin-top: 0;
}
