.detail {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 2em;
}

.detail > * + * {
  margin-top: 0.5em;
}

.header {
  display: flex;
}

.meta {
  margin-left: 1em;
}

.description {
  margin-top: 1em;
  max-width: 80ch;
}

.description > * + * {
  margin-top: 0;
}

.notes {
  margin-top: 2em;
}

.notes p {
  font-weight: bold;
}

.notes textarea {
  width: 100%;
  background-color: var(--clr-300);
  padding: 1em;
}

.notes button[type="submit"] {
  color: white;
  background-color: var(--clr-100);
  border: none;
  padding: 0.5em 1em;
}
