.wrapper {
  /* text-align: center; */
  padding: 3em 1em 0;
  max-width: 88.75rem;
  margin-left: auto;
  margin-right: auto;
  /* height: 100vh; */
}

.text {
  margin-top: 5em;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.text > * + * {
  margin-top: 1em;
}

.text h1 {
  font-size: 4.5rem;
  color: var(--clr-accent-100);
}

.buttons {
  margin-top: 1.5em;
  align-items: center;
}

.buttons button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.buttons > button + button {
  margin-top: 1em;
}

@media (min-width: 62.5rem) {
  .buttons {
    display: flex;
  }

  .buttons > button + button {
    margin-top: 0;
  }
}
