.form > * {
  display: block;
}

.form > * + * {
  margin-top: 0.2em;
}

.form label {
  margin-top: 0.5em;
}

.form input {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: 1px solid black;
  width: 100%;
}

.form button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  border: 1px solid black;
}
